/* Estilos generales */
body {
    font-family: 'Century Gothic', sans-serif;
    background-color: #FFFCF2;
    margin: 0;
    padding: 0;
    color: #2f2f2a;
}

header {
    background-color: #f36cac;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #FFFCF2;
}

nav {
    background-color: #C8EDED;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #4c4c44;
    font-weight: bold;
}

footer {
    background-color: #C8EDED;
    padding: 20px;
    text-align: center;
    color: #4c4c44;
}

main {
    padding: 20px;
    text-align: center;
}

h2 {
    color: #4c4c44;
}

#productos-destacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto-card {
    background-color: #C8EDED;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: 30%;
    box-sizing: border-box;
    transition: transform 0.2s;
}

.producto-card:hover {
    transform: scale(1.05);
}

.producto-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.producto-card h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #06a2c4;
}

.producto-card p {
    font-size: 1em;
    margin: 10px 0;
}

.agregar-carrito-btn {
    background-color: #f36cac;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.agregar-carrito-btn:hover {
    background-color: #b4547c;
}

.paginacion {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.paginacion li {
    margin: 0 5px;
}

.paginacion a {
    text-decoration: none;
    padding: 10px 15px;
    color: #4c4c44;
    background-color: #C8EDED;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.paginacion a:hover {
    background-color: #06a2c4;
    color: white;
}
