
body {
    font-family: 'Century Gothic', sans-serif;
    background-color: #FFFCF2;
    margin: 0;
    padding: 0;
    color: #2f2f2a;
    
}

header {
    background-color: #f36cac;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #FFFCF2;
}

nav {
    background-color: #C8EDED;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #4c4c44;
    font-weight: bold;
}

main {
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.perfil-container {
    display: flex;
    align-items: center;
}

.imagen-container {
    flex: 0 0 auto;
    margin-right: 20px; /* Espacio entre la imagen y los datos */
}

.imagen-perfil {
    max-width: 200px; /* Tamaño máximo de la imagen */
    height: auto;
    border-radius: 50%; /* Para que la imagen sea circular */
}

.datos-container {
    flex: 1;
}

.nombre-apellido-container,
.direccion-container {
    margin-bottom: 10px; /* Espacio entre los elementos */
}

.favoritos-container {
    margin-top: 20px; /* Espacio entre dirección y favoritos */
}

.favoritos-container ul {
    padding-left: 20px; /* Sangría para la lista de favoritos */
}


footer {
    background-color: #C8EDED;
    padding: 20px;
    text-align: center;
    color: #4c4c44;
    margin-top: auto;
}